<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ckplayer</title>
    <link href="//vjs.zencdn.net/7.3.0/video-js.min.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>
    <script>window.HELP_IMPROVE_VIDEOJS = false;</script>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0px;
            font-family: "Microsoft YaHei", YaHei, "微软雅黑", SimHei, "黑体";
            font-size: 18px;
        }
        p{
            padding-left: 2em;
        }
    </style>

</head>

<body>
<div >
    <video
            id="my-player"
            class="video-js"
            controls
            preload="auto"
            poster="//vjs.zencdn.net/v/oceans.png"
            data-setup='{}'>
        <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
        <!--<source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>-->
        <!--<source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source>-->
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">
                supports HTML5 video
            </a>
        </p>
    </video>

</div>

<video width="320" height="240" controls>
    <source src="MP4/ckin.mp4" type="video/mp4">
    您的浏览器不支持Video标签。
</video>
<script type="text/javascript">
    var options = {};

    var player = videojs('my-player', options, function onPlayerReady() {
        videojs.log('Your player is ready!');

        // In this context, `this` is the player that was created by Video.js.
        this.play();

        // How about an event listener?
        this.on('ended', function() {
            videojs.log('Awww...over so soon?!');
        });
    });
</script>

</body>

</html>